:root {
  --white-color: #f6f6f6;
  --Nav-height: 80px;
  --padding-nav: 20px;
  --nav-spacer-right: 46px;
  --nav-item-width: 50px;
  --typewritter-speed: 6s;
  --blink-speed: 750ms;
  --animation-speed: 3s;
  --card-img-width: 200px;
  --card-img-height: 300px;
  --add-width: 65px;
  --add-height: 25px;
  --cart-counter-size: 15px;
  --cart-size: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline-style: none;
}

html,
body,
.App {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
}

/* Nav */

.Nav {
  width: 100%;
  height: var(--Nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--white-color);
  padding: 0px var(--padding-nav);
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeInVertical var(--animation-speed) ease forwards;
}

.logo {
  width: 50%;
  font-family: "Uncial Antiqua";
  font-weight: normal;
}

.items-container {
  width: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.nav-item-spacer {
  position: absolute;
  height: 100%;
  width: 1px;
  right: var(--nav-spacer-right);
  background-color: black;
}

.nav-item-one,
.nav-item-two {
  width: var(--nav-item-width);
  display: flex;
  align-items: center;
}

.nav-item-two {
  justify-content: flex-end;
}

a,
a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Main */

.Main {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
}

.part-one {
  width: 100%;
  height: calc(100vh - var(--Nav-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px;
  gap: 50px;
}

.home-images {
  width: 280px;
  box-shadow: -7px 7px 6px rgba(0, 0, 0, 0.5);
  opacity: 0;
  align-self: flex-start;
  transform: translateX(-5rem);
  animation: fadeInSides var(--animation-speed) ease forwards;
}

.home-text-container {
  width: 340px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInVertical var(--animation-speed) ease forwards;
}

.box-text-1 {
  margin: 8px;
  font-size: 1rem;
  font-family: "Source Code Pro", monospace;
  position: relative;
}

.box-text-1::before,
.box-text-1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.box-text-1::before {
  background-color: var(--white-color);
  animation: typewritter var(--typewritter-speed) steps(33)
    var(--animation-speed) forwards;
}

.box-text-1::after {
  width: 0.125em;
  background: black;
  animation: typewritter var(--typewritter-speed) steps(33)
      var(--animation-speed) forwards,
    blink var(--blink-speed) steps(33) infinite;
}

/* Shop */

.Shop {
  width: 100%;
  min-height: calc(100vh - var(--Nav-height));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

/* search Area */

.search-cart {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  opacity: 0;
  transform: translateX(5rem);
  animation: fadeInSides var(--animation-speed) ease forwards;
  background-color: var(--white-color);
}

.search-bar {
  width: 220px;
  height: 25px;
  border: 1px solid black;
  border-radius: 10rem;
  padding: 5px;
  font-size: 0.9em;
  background-color: transparent;
}

.cart-btn {
  width: var(--cart-size);
  height: var(--cart-size);
  position: absolute;
  right: 21px;
  padding: 0px;
  background-color: transparent;
  border: 0px solid transparent;
}

.cart-counter {
  width: var(--cart-counter-size);
  height: var(--cart-counter-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  right: calc(var(--cart-size) - 13px);
  bottom: -5px;
}

.cart-counter-text {
  font-size: 0.7em;
  margin: 0;
  color: white;
}

.cart-icon {
  width: 100%;
}

/* cards */

.items {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: auto;
  padding: 0px 30px;
  margin: 30px 0px;
  gap: 35px;
}

.Card {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  transition: 250ms ease-in-out;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInVertical var(--animation-speed) ease forwards;
}

.Hide {
  display: none;
}

.title-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.title,
.price {
  margin: 5px 0px;
  font-size: 0.9em;
}

.card-img {
  width: var(--card-img-width);
  height: var(--card-img-height);
  object-fit: cover;
  transition: 250ms;
  box-shadow: -7px 7px 6px rgba(0, 0, 0, 0.5);
}

.add-btn {
  width: var(--add-width);
  height: var(--add-height);
  border: 0px solid transparent;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 0.9em;
  position: absolute;
  left: calc((var(--card-img-width) / 2) - (var(--add-width) / 2));
  bottom: 10px;
  cursor: pointer;
}

@keyframes typewritter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInSides {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInVertical {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Cart */

.Cart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  padding: 0px var(--padding-nav);
  background-color: var(--white-color);
}

.cart-title {
  align-self: flex-start;
  font-weight: 500;
  margin: 20px 0px;
}

.all-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 0px;
  gap: 25px;
}

/* Item */

.Item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.item-title-price {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  font-size: 1em;
}

.counter {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btn-add,
.btn-subtract,
.input-counter {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  background-color: black;
  color: white;
  border: 0px solid transparent;
  transition: ease-in-out 190ms;
}

.btn-add {
  border-radius: 0px 10px 10px 0px;
}

.btn-subtract {
  border-radius: 10px 0px 0px 10px;
}

.btn-add:active,
.btn-subtract:active {
  background-color: var(--white-color);
  color: black;
  border: 2px solid black;
}

.trash-icon {
  width: 15px;
}

/* purchase section */

.purchase-area {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  gap: 30px;
  padding: 0px var(--padding-nav);
}

.total-display {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-total,
.total-price {
  margin: 5px;
  font-size: 1.1em;
}

.purchase-area > a,
.purchase-area > a:visited {
  color: white;
}

.btn-checkout {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  background-color: black;
  border: 0px solid transparent;
  border-radius: 10px;
}
